basePath: /api
host: localhost:8080
info:
  contact: {}
  description: This is the API documentation for the Home Market project.
  title: Home Market API
  version: "1.0"
paths: {}
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
